nav {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}
nav h1 {
  font-size: 1.5rem;
  color: bisque;
}
nav a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: whitesmoke;
}
.navBar {
  display: flex;
  text-align: right;
}
footer {
  margin-top: 100px;
  text-align: center;
  bottom: 0;
  width: 100%;
  align-items: center;
}
footer p {
  color: gray;
}