.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.title {
    color: firebrick;
    text-align: center;
    font-size: 1.2rem;
    align-items: center;
}
.container div:hover {
    background-color: whitesmoke;
    color: chocolate;
}
.container a {
    text-decoration: none;
}
.imgProduct {
    border-radius: 50px;
    border: 1px solid whitesmoke;
}
.cardID {
    width: 300px;
    height: 500px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 10);
}
.btnAddCart {
    color: lightgoldenrodyellow;
}
.Blogs {
    margin: 10px;
}
.descriptstionP {
    height: 60%;
}
.addToCart {
    font-size: 0.6rem;
    width: 300%;
    height: 100%;
    padding-right: 100px;
}